{
  "root": true,
  "extends": [
    "@shelf/eslint-config/frontend-typescript"
  ],
  "settings": {
    "react": {
      "version": "16.13.0"
    }
  },
  "rules": {
    "react/prop-types": "warn"
  }
}
