#__next {
  height: 100%;
}

.home header {
  font-size: 1.75em;
  margin: 1em 0;
  max-width: 100%;
  text-align: center;
}

body {
  font-size: 1.1em;
}

.ant-layout {
  height: 100%;
  background: white;
}

.ant-layout-footer {
  background: white;
}

.ant-layout-content {
  min-height: fit-content;
}
